/* --------------- Fonts --------------- */

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/public/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --------------- Général --------------- */

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    background-color: #fff;
}

/* --------------- Topbar & navigation --------------- */


#topbar {
    height: 40px;
    background-color: #457DBB;
    //position: fixed;
    width: 100%;
    display: block;
    z-index: 2;
    nav {
        top: -10px;
        right: 30px;
        position: relative;
        & a {
            color: #fff;
            padding: 6px;
            display: block;
            font-size: 18px;
            text-decoration: none;
            font-family: 'Montserrat-Medium', sans-serif;
            &:hover {color: #132959;}
        }
        & ul {
            margin: 0;
            padding: 0;
            float: right;
            list-style: none;
        }
        & li {
            float: left;
            margin-right: 25px;
            &:last-child {margin-right: 100px;}
        }
    }
}

/* --------------- Catégorie --------------- */

.categorie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    clear: both;
    & a {
        color: black;
        padding: 6px;
        display: block;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Montserrat-Medium', sans-serif;
        &:hover {
            color: #ffffff;
            padding: 10px;
            background-color: #1995e0;
            border-radius: 20px;
        }
    }
    & ul {
        margin: 0;
        padding: 0;
    }
    & li {
        float: left;
        margin: 40px 20px 40px 50px;
        &:first-child {
            margin-left: 20px;
        }
    }
}

/* --------------- Home --------------- */

.home section {
    margin-left: 135px;
    img {
        margin-bottom: 25px;
    }
    img:first-child {
        margin-right: 21px;
    }
}
//.home #video-header {
//  z-index: 100;
//}
//video {
//  min-width: 100%;
//  min-height: 150%;
//}
//.home h2 {
//  position: absolute;
//  z-index: 20;
//  top: 8px;
//  color: #fff;
//  text-align: center;
//  font-family: 'Merriweather', sans-serif;
//}
//.home h3 {
//  position: absolute;
//  z-index: 20;
//  top: 150px;
//  color: #fff;
//  text-align: center;
//  font-family: 'comfortaaregular', cursive;
//}
//.home nav {
//  position: absolute;
//  z-index: 20;
//}
//.home section {
//  width: 100%;
//  text-align: center;
//}


/* --------------- Add form --------------- */

.form-add {
    max-width: 510px;
    padding: 14px 20px;
    margin: 25px auto;
    background-color: #457DBB;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    #formulaire {
        max-width: 490px;
        margin-left: 10px;
    }
    #titre {
        font-size: 18px;
        margin-top: 21px;
        margin-bottom: 36px;
        text-align: center;
    }
    fieldset {border: none;}
    label {
        display: block;
        margin-bottom: 10px;
    }
    #videoBQ {margin-top: 36px;}
    #videoHQ {margin-top: 30px;}
    #image {margin-top: 31px;}
    #categorie {
        position: relative;
        margin: 11px 0 0 28px;
    }
    input[type="text"] {
        border: none;
        border-radius: 4px;
        font-size: 15px;
        padding: 10px;
        width: 100%;
        color: #8a97a0;
        margin-bottom: 38px;
    }
    input[type="checkbox"] {
        margin-top: 0;
        position: absolute;
    }
    input[type="file"] {margin-top: -1px;}
    input[type="submit"] {
        position: relative;
        display: block;
        margin: 24px 0 10px 0;
        padding: 10px 30px 10px 30px;
        color: #FFF;
        background: #234CA5;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border-radius: 4px;
        border: 2px solid #234CA5;
        &:hover {
            cursor: pointer;
            background: #132959;
        }
    }
}


/* --------------- Subscribe --------------- */

form #subscription {
    max-width: 500px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #457DBB;
    border-radius: 8px;
    legend {
        font-size: 22px;
        text-align: center;
    }
    label {
        display: block;
        margin-bottom: 8px;
        margin-top: 5px;
    }
    #name {
        margin-top: 20px;
    }
    input[type="radio"] {
        position: relative;
        top: -26px;
        &:focus {
            background: #132959;
        }
    }
    #amount {
        position: relative;
        margin-top: 10px;
        margin-left: 28px;
    }
    input[type="text"], input[type="email"], input[type="password"], select {
        border: none;
        border-radius: 4px;
        font-size: 15px;
        padding: 10px;
        width: 100%;
        color: #8a97a0;
        margin-bottom: 38px;
    }
    input[type="submit"] {
        position: relative;
        display: block;
        margin-top: 22px;
        padding: 10px 30px 10px 30px;
        color: #FFF;
        background: #234CA5;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border-radius: 4px;
        border: 2px solid #234CA5;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            background: #132959;
        }
    }
}

/* --------------- Paysage --------------- */

.paysage section {
    margin-left: 135px;
    img {
        margin-bottom: 25px;
    }
    img:first-child {
        margin-right: 21px;
    }
}

/* --------------- Vidéo --------------- */

.video h3, figcaption {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}