@charset "UTF-8";

/* --------------- Fonts --------------- */

@font-face {
  font-family: 'Montserrat';
  src: url("/public/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/public/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* --------------- Général --------------- */

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #fff;
}

/* --------------- Topbar & navigation --------------- */

#topbar {
  height: 40px;
  background-color: #457DBB;
  width: 100%;
  display: block;
  z-index: 2;
}

#topbar nav {
  top: -10px;
  right: 30px;
  position: relative;
}

#topbar nav a {
  color: #fff;
  padding: 6px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Montserrat-Medium', sans-serif;
}

#topbar nav a:hover {
  color: #132959;
}

#topbar nav ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#topbar nav li {
  float: left;
  margin-right: 25px;
}

#topbar nav li:last-child {
  margin-right: 100px;
}

/* --------------- Catégorie --------------- */

.categorie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  clear: both;
}

.categorie a {
  color: black;
  padding: 6px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Montserrat-Medium', sans-serif;
}

.categorie a:hover {
  color: #ffffff;
  padding: 10px;
  background-color: #1995e0;
  border-radius: 20px;
}

.categorie ul {
  margin: 0;
  padding: 0;
}

.categorie li {
  float: left;
  margin: 40px 20px 40px 50px;
}

.categorie li:first-child {
  margin-left: 20px;
}

/* --------------- Home --------------- */

.home section {
  margin-left: 135px;
}

.home section img {
  margin-bottom: 25px;
}

.home section img:first-child {
  margin-right: 21px;
}

/* --------------- Add form --------------- */

.form-add {
  max-width: 510px;
  padding: 14px 20px;
  margin: 25px auto;
  background-color: #457DBB;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.form-add #formulaire {
  max-width: 490px;
  margin-left: 10px;
}

.form-add #titre {
  font-size: 18px;
  margin-top: 21px;
  margin-bottom: 36px;
  text-align: center;
}

.form-add fieldset {
  border: none;
}

.form-add label {
  display: block;
  margin-bottom: 10px;
}

.form-add #videoBQ {
  margin-top: 36px;
}

.form-add #videoHQ {
  margin-top: 30px;
}

.form-add #image {
  margin-top: 31px;
}

.form-add #categorie {
  position: relative;
  margin: 11px 0 0 28px;
}

.form-add input[type="text"] {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

.form-add input[type="checkbox"] {
  margin-top: 0;
  position: absolute;
}

.form-add input[type="file"] {
  margin-top: -1px;
}

.form-add input[type="submit"] {
  position: relative;
  display: block;
  margin: 24px 0 10px 0;
  padding: 10px 30px 10px 30px;
  color: #FFF;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

.form-add input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

/* --------------- Subscribe --------------- */

form #subscription {
  max-width: 500px;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #457DBB;
  border-radius: 8px;
}

form #subscription legend {
  font-size: 22px;
  text-align: center;
}

form #subscription label {
  display: block;
  margin-bottom: 8px;
  margin-top: 5px;
}

form #subscription #name {
  margin-top: 20px;
}

form #subscription input[type="radio"] {
  position: relative;
  top: -26px;
}

form #subscription input[type="radio"]:focus {
  background: #132959;
}

form #subscription #amount {
  position: relative;
  margin-top: 10px;
  margin-left: 28px;
}

form #subscription input[type="text"],
form #subscription input[type="email"],
form #subscription input[type="password"],
form #subscription select {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

form #subscription input[type="submit"] {
  position: relative;
  display: block;
  margin-top: 22px;
  padding: 10px 30px 10px 30px;
  color: #FFF;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
  margin-bottom: 10px;
}

form #subscription input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

/* --------------- Paysage --------------- */

.paysage section {
  margin-left: 135px;
}

.paysage section img {
  margin-bottom: 25px;
}

.paysage section img:first-child {
  margin-right: 21px;
}

/* --------------- Vidéo --------------- */

.video h3,
figcaption {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

