@import url(/public/css/reset.css);@charset "UTF-8";

/* -------------------- Colors -------------------- */

/* -------------------- Fonts -------------------- */

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/public/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/public/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* -------------------- Général -------------------- */

body {
  margin: 0;
  padding: 0;
}

body #container {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #ffffff;
}

body #container .image-header {
  position: relative;
  bottom: 20px;
  height: 396px;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body #container #content {
  width: 1010px;
  margin: 0 auto;
}

body #container #content h2 {
  font-size: 16px;
  font-family: 'Montserrat-Light', sans-serif;
}

body #container #content h6 {
  font-size: 12px;
  font-family: 'Montserrat-Light', sans-serif;
  color: #234CA5;
}

.previous {
  background-color: #457DBB;
  border: none;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 50px;
}

.previous:hover {
  cursor: pointer;
  background: #132959;
}

.prev-video {
  margin-top: 36px;
}

.prev-video-sub {
  margin-top: 41px;
}

.prev-add,
.prev-sub {
  margin: 22px 0 50px 134px;
}

/* -------------------- Topbar & navigation & galerie -------------------- */

#topbar {
  height: 50px;
  background-color: #457DBB;
  width: 100%;
  display: block;
  z-index: 20;
  position: fixed;
}

#topbar img {
  margin: 10px 0 0 135px;
}

#topbar nav {
  clear: both;
  bottom: 31px;
  right: 28px;
  position: relative;
}

#topbar nav .nav-logout {
  cursor: pointer;
}

#topbar nav .nav-name {
  color: #ffffff;
  padding: 6px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Montserrat-Regular', sans-serif;
}

#topbar nav a {
  color: #ffffff;
  padding: 6px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Montserrat-Regular', sans-serif;
}

#topbar nav a:hover {
  color: #132959;
}

#topbar nav ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#topbar nav li {
  float: left;
  margin-right: 32px;
}

#topbar nav li:last-child {
  margin-right: 100px;
}

#galerie {
  width: 103%;
  margin-top: 22px;
}

#galerie img {
  margin: 0 21px 25px 0;
}

/* -------------------- Catégorie -------------------- */

.navcategorie {
  display: flex;
  justify-content: center;
  clear: both;
  margin-top: -5px;
}

.navcategorie a {
  color: #000000;
  padding: 6px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Montserrat-Regular', sans-serif;
}

.navcategorie a.active {
  color: #457DBB;
}

.navcategorie a:hover {
  color: #457DBB;
}

.navcategorie ul {
  margin: 0;
  padding: 0;
}

.navcategorie li {
  float: left;
  margin: 40px 29px 40px 29px;
}

.navcategorie li:first-child {
  margin-left: 28px;
}

/* -------------------- Login -------------------- */

#login-form {
  max-width: 510px;
  padding: 14px 20px;
  margin: 25px auto;
  background-color: #457DBB;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
}

#login-form #form-login {
  max-width: 490px;
  margin-left: 10px;
}

#login-form fieldset {
  margin-top: 21px;
}

#login-form legend {
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

#login-form label {
  display: block;
  margin-bottom: 11px;
}

#login-form .email-login {
  margin-top: 35px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

#login-form button {
  position: relative;
  display: block;
  margin: 16px 0 10px 0;
  padding: 10px 30px 11px 30px;
  color: #ffffff;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

#login-form button:hover {
  cursor: pointer;
  background: #132959;
}

#login-form input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

/* -------------------- Hiver -------------------- */

.img-home {
  background-image: url("/images/yellowstone.jpg");
  background-position: center;
}

.img-home #slogan {
  position: absolute;
  top: 203px;
  left: 327px;
  z-index: 2;
  color: #ffffff;
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.img-paysage {
  background-image: url("/images/landscape.jpg");
  background-position: center;
}

.img-animaux {
  background-image: url("/images/hedgehog.jpg");
  background-position: center bottom;
}

.img-hiver {
  background-image: url("/images/Snow.jpg");
  background-position: center center;
}

.img-search {
  background-image: url("/images/writing.jpg");
  background-position: bottom right;
}

/* -------------------- Add form -------------------- */

.form-add {
  max-width: 510px;
  padding: 14px 20px;
  margin: 25px auto;
  background-color: #457DBB;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-add #formulaire {
  max-width: 490px;
  margin-left: 10px;
}

.form-add #titre {
  font-size: 18px;
  margin-top: 21px;
  margin-bottom: 35px;
  text-align: center;
}

.form-add fieldset {
  border: none;
}

.form-add #titre-form {
  font-size: 18px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.form-add label {
  display: block;
  margin-bottom: 11px;
}

.form-add #choixcategorie {
  margin-bottom: 24px;
}

.form-add #videoBQ {
  margin-top: 12px;
}

.form-add #videoHQ {
  margin-top: 31px;
}

.form-add #image {
  margin-top: 31px;
}

.form-add #categorie {
  position: relative;
  margin: 12px 0 0 10px;
}

.form-add .cat-paysage,
.form-add .cat-animaux,
.form-add .cat-hiver {
  position: relative;
  bottom: 13px;
  left: 40px;
}

.form-add input[type="text"] {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

.form-add input[type="checkbox"] {
  margin-top: 0;
  position: absolute;
}

.form-add input[type="checkbox"]:focus {
  background: #132959;
}

.form-add input[type="file"] {
  margin-top: -2px;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-add input[type="submit"] {
  position: relative;
  display: block;
  margin: 24px 0 10px 0;
  padding: 10px 30px 10px 30px;
  color: #ffffff;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

.form-add input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

/* -------------------- Subscribe -------------------- */

.form-subscription {
  max-width: 510px;
  padding: 14px 20px;
  margin: 25px auto;
  background-color: #457DBB;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-subscription #subscription {
  max-width: 490px;
  margin-left: 10px;
}

.form-subscription fieldset {
  margin-top: 21px;
}

.form-subscription legend {
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

.form-subscription label {
  display: block;
}

.form-subscription input[type="radio"] {
  position: relative;
  top: -19px;
}

.form-subscription input[type="radio"]:focus {
  background: #132959;
}

.form-subscription #amount5,
.form-subscription #amount12 {
  margin-left: 30px;
}

.form-subscription #amount5 {
  margin-top: 60px;
}

.form-subscription #amount12,
.form-subscription .form-row {
  margin-top: 20px;
}

.form-subscription #card-element {
  margin-top: 8px;
}

.form-subscription #name {
  margin: 34px 0 11px 0;
}

.form-subscription #street,
.form-subscription #postcode,
.form-subscription #city,
.form-subscription #email,
.form-subscription #password {
  margin-bottom: 11px;
}

.form-subscription #country {
  margin-bottom: 9px;
}

.form-subscription #unsubscription {
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

.form-subscription input[type="text"],
.form-subscription input[type="number"],
.form-subscription input[type="email"],
.form-subscription input[type="password"],
.form-subscription select {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

.form-subscription input[type="submit"] {
  position: relative;
  display: block;
  margin: 28px 0 10px 0;
  padding: 10px 30px 11px 30px;
  color: #ffffff;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

.form-subscription input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

.form-subscription input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

/* -------------------- Vidéo -------------------- */

.video figcaption p {
  color: #ffffff;
  position: absolute;
  font-size: 16px;
  top: 37px;
  left: 184px;
}

.video img.img-preview {
  position: relative;
  top: 115px;
  left: 206px;
}

.video #fig {
  width: 600px;
  height: 151px;
  display: block;
  position: relative;
  bottom: 110px;
  left: 206px;
  z-index: 1;
}

.video #fig:after {
  content: "";
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.video .button-subscribe {
  position: absolute;
  right: 231px;
  bottom: 32px;
  background-color: #234CA5;
  border: none;
  color: #ffffff;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.video .button-subscribe:hover {
  cursor: pointer;
  background: #132959;
}

.video .vid-subscriber {
  margin: 108px 0 0 90px;
}

.video #catvideo {
  margin-top: 40px;
}

.video #titrevideo {
  margin-top: 10px;
}

.video form {
  margin-top: 19px;
}

.video input[type="text"] {
  width: 345px;
  height: 30px;
  border: none;
  border-bottom: 2px solid gray;
}

.video input[type="submit"] {
  margin: 28px 0 10px 0;
  padding: 10px;
  color: #ffffff;
  background: #234CA5;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  width: 13%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

.video input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

.video h3 {
  font-size: 14px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.video #titrecom {
  clear: both;
  margin-top: 84px;
}

.video #namecom {
  font-size: 18px;
  margin-top: 58px;
}

.video #commentaire {
  margin-top: 35px;
}

.video #titresouhait {
  margin-top: 86px;
  margin-bottom: 46px;
}

/* -------------------- Search -------------------- */

.form-search {
  position: absolute;
  top: 14px;
  left: 310px;
}

.form-search .input-text {
  width: 257px;
}

.form-search .search-input {
  width: 20px;
  height: 20px;
}

#result-search {
  margin: 13px 0 43px 0;
}

#galerie-search {
  float: left;
  margin-right: 25px;
}

#galerie-search .search-img {
  margin-bottom: 20px;
}

#galerie-search #search-cat {
  clear: both;
  text-align: center;
}

#galerie-search #search-titre {
  margin: 10px 0 50px 0;
  text-align: center;
}

/* -------------------- SubscriptionOk -------------------- */

.abonnement-complet {
  margin: 37px 0 19px 0;
}

