@charset "UTF-8";

/* --------------- Fonts --------------- */

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/public/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/public/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* --------------- Général --------------- */

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #fff;
}

/* --------------- Topbar & navigation --------------- */

#topbar {
  height: 40px;
  background-color: #457DBB;
  width: 100%;
  display: block;
  z-index: 2;
}

#topbar img {
  margin-top: 4px;
  margin-left: 135px;
}

#topbar nav {
  top: -10px;
  right: 30px;
  position: relative;
}

#topbar nav a {
  color: #fff;
  padding: 6px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Montserrat-Regular', sans-serif;
}

#topbar nav a:hover {
  color: #132959;
}

#topbar nav ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}

#topbar nav li {
  float: left;
  margin-right: 25px;
}

#topbar nav li:last-child {
  margin-right: 100px;
}

/* --------------- Catégorie --------------- */

.categorie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  clear: both;
}

.categorie a {
  color: black;
  padding: 6px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Montserrat-Regular', sans-serif;
}

.categorie a:hover {
  color: #ffffff;
  padding: 10px;
  background-color: #1995e0;
  border-radius: 20px;
}

.categorie ul {
  margin: 0;
  padding: 0;
}

.categorie li {
  float: left;
  margin: 40px 20px 40px 50px;
}

.categorie li:first-child {
  margin-left: 20px;
}

/* --------------- Home --------------- */

section {
  margin-left: 135px;
}

section img {
  margin-bottom: 25px;
}

section img:first-child {
  margin-right: 21px;
}

/* --------------- Add form --------------- */

.form-add {
  max-width: 510px;
  padding: 14px 20px;
  margin: 25px auto;
  background-color: #457DBB;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-add #formulaire {
  max-width: 490px;
  margin-left: 10px;
}

.form-add #titre {
  font-size: 18px;
  margin-top: 21px;
  margin-bottom: 35px;
  text-align: center;
}

.form-add fieldset {
  border: none;
}

.form-add #titre-form {
  font-size: 18px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.form-add label {
  display: block;
  margin-bottom: 11px;
}

.form-add #videoBQ {
  margin-top: 36px;
}

.form-add #videoHQ {
  margin-top: 30px;
}

.form-add #image {
  margin-top: 31px;
}

.form-add #categorie {
  position: relative;
  margin: 11px 0 0 28px;
}

.form-add input[type="text"] {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

.form-add input[type="checkbox"] {
  margin-top: 0;
  position: absolute;
}

.form-add input[type="checkbox"]:focus {
  background: #132959;
}

.form-add input[type="file"] {
  margin-top: -2px;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-add input[type="submit"] {
  position: relative;
  display: block;
  margin: 25px 0 10px 0;
  padding: 10px 30px 10px 30px;
  color: #FFF;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

.form-add input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

/* --------------- Subscribe --------------- */

.form-subscription {
  max-width: 510px;
  padding: 14px 20px;
  margin: 25px auto;
  background-color: #457DBB;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
}

.form-subscription #subscription {
  max-width: 490px;
  margin-left: 10px;
}

.form-subscription fieldset {
  margin-top: 19px;
}

.form-subscription legend {
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

.form-subscription label {
  display: block;
}

.form-subscription input[type="radio"] {
  position: relative;
  top: -19px;
}

.form-subscription input[type="radio"]:focus {
  background: #132959;
}

.form-subscription #amount5,
.form-subscription #amount12 {
  margin-left: 30px;
}

.form-subscription #amount5 {
  margin-top: 60px;
}

.form-subscription #amount12,
.form-subscription .form-row {
  margin-top: 20px;
}

.form-subscription #card-element {
  margin-top: 8px;
}

.form-subscription #name {
  margin: 34px 0 11px 0;
}

.form-subscription #street,
.form-subscription #postcode,
.form-subscription #city,
.form-subscription #email,
.form-subscription #password {
  margin-bottom: 11px;
}

.form-subscription #country {
  margin-bottom: 9px;
}

.form-subscription #unsubscription {
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

.form-subscription input[type="text"],
.form-subscription input[type="email"],
.form-subscription input[type="password"],
.form-subscription select {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  color: #8a97a0;
  margin-bottom: 38px;
}

.form-subscription input[type="submit"] {
  position: relative;
  display: block;
  margin: 28px 0 10px 0;
  padding: 10px 30px 10px 30px;
  color: #FFF;
  background: #234CA5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #234CA5;
}

.form-subscription input[type="submit"]:hover {
  cursor: pointer;
  background: #132959;
}

/* --------------- Paysage --------------- */

.paysage section {
  margin-left: 135px;
}

.paysage section img {
  margin-bottom: 25px;
}

.paysage section img:first-child {
  margin-right: 21px;
}

/* --------------- Vidéo --------------- */

.video h3,
figcaption {
  font-size: 14px;
  font-family: 'Montserrat-Light', sans-serif;
}

